* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: monospace;
    font-size: 14px;
    margin: 0 0;
    padding: 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#mainPanel {
    overflow: auto;
    margin: 0 0 5px 0;
    float: left;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}

.root-node {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-size: 4vw;
    letter-spacing: 0.2px;
    word-spacing: -1px;
    color: whitesmoke;
    background-color: mediumaquamarine;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    width: 100%;
    padding: 3px 10px;
    border-radius: 15px;
    display: block;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

.greendot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    color: green;
}

.reddot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    color: red;
}


/*  used for flash */
@keyframes new-blink {
    0%{
        background-color: darkseagreen;
        color: #ddd;
    }
    100%{
        background-color: transparent;
        color: #fff;
    }
}
.new-blink{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    /* NAME | TIME | ITERATION */
    animation: new-blink 1s ;
}

@keyframes delete-blink {
    0%{
        background-color: indianred;
        color: #ddd;
    }
    100%{
        background-color: transparent;
        color: #fff;
        display: none;
    }
}
.delete-blink{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    /* NAME | TIME | ITERATION */
    animation: delete-blink 1s ;
}

@keyframes update-blink {
    0%{
        background-color: yellow;
    }
    100%{
        background-color: transparent;
        display: none;
    }
}
.update-blink{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    /* NAME | TIME | ITERATION */
    animation: update-blink 1s ;
}

.form_label{
    padding-right: 5px;
}

.error_input {
    border: 1px solid red;
}